.success-icon {
  width: 48px;
  height: 48px;
  color: #219653;
}

#prev-btn {
  margin-right: auto;
}

#next-btn {
  margin-left: auto;
}

.link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.link-holder {
  width: 255px;
  padding-left: 10px;
}

.photo-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 355px;
  margin-bottom: 10px;
}

.success {
  position: absolute;
}

.nav-btn {
  font-family: "Poppins";
  font-weight: 300;
  width: 60px;
  height: 25px;
  background-color: #2f80ed;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #2a76da;
}

.new-upload-box {
  margin-top: 12px;
  line-height: 16px;
  width: 355px;
  height: 34px;
  border-radius: 8px;
}

#newUpldBtn {
  width: 100%;
}

.link-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 355px;
  height: 34px;
  background-color: #f6f8fb;
}

.copy-btn {
  margin-top: 0;
  margin-left: auto;
}
