.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-container-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.box-header {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -3.5%;
}

.content-box {
  background-color: white;
  height: 469px;
  width: 402px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.dashed-box {
  width: 350px;
  height: 220px;
  background-color: #f6f8fb;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
}
